*, ::after, ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-size: 52px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    background-color: rgba(32, 33, 36);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 150px auto;
}

.container__slider-text {
    width: 400px;
}

.container__slider-field  {
    padding: 16px;
    border-radius: 9999px;
    border: 1px solid#a69a9a;
}

.container__slider-legend {
    color: #9aa0a6;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container__slider-input-text {
    width: 100%;
    background-color: rgba(32, 33, 36);
    border: none;
    color: white;
    font-size: 16px;
}
.container__slider-input-text:focus {
    outline: none;
}

.container__slider-input-text:focus + .container__slider-field {
    border-color: #8AB4F8;
}

.container__slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__slider h2 {
    color: #E8EAED;
    font-weight: 400;
    font-size: 36px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container__slider-slide {
    display: flex;
    align-items: center;
}

.container__slider-pixels {
    margin-right: 24px;
    color: #E8EAED;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

input[type="range"] {
    width: 100%;
    min-width: 350px;
    height: 1.5px;
    color: #394456;
    cursor: grab;
}


.container__main {
    margin-top: 100px;
}

.container__main-row {
    position: relative;
    min-height: 141px;
    padding: 40px 0;
    border-bottom: 1px solid #5F6368;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.container__main-row::after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    width: 10%;
    background-color: rgba(32, 33, 36);
    background: linear-gradient(90deg, rgba(32, 33, 36,0.4) 0%, rgba(32, 33, 36,1) 62%);
}


#first {
    border-top: 1px solid #5F6368;
    font-weight: 300;
}

#second {
    font-weight: 300;
    font-style: italic;
}

#third {
    font-weight: 400;
}

#fourth {
    font-weight: 400;
    font-style: italic;
}

#five {
    font-weight: 700;
}

#six {
    font-weight: 700;
    font-style: italic;
}


.container__main-row p {
    font-size: var(--text-size);
    color: #E8EAED;
}